/*-------------------------------------------
  6. Page Sections
  各區塊獨立設定
-------------------------------------------*/

/* --- Section 1 --- */
#section1 {
  --c1: #a39c8b;
  --c2: #e6e1d5;
  --p2: 60%;
  background: radial-gradient(
    140% 10% at 50% -1%,
    var(--c1) 0%,
    var(--c2) var(--p2)
  );

  // --gy: -1%; /* 漸層中心點的 Y 位置 */
  // --sy: 10%; /* 漸層形狀的 Y 軸大小 */
  // background: radial-gradient(
  //   140% var(--sy) at 50% var(--gy),
  //   #a39c8b 0%,
  //   #e6e1d5 60%
  // );

  // background: radial-gradient(140% 10% at 50% -1%, #a39c8b 0%, #e6e1d5 60%);

  .scroll-line {
    &::after {
      content: "";
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      animation: scroll-line 1.8s ease-in-out infinite;
    }
  }
}

/* --- Section 2 --- */
#section2 {
}

/* --- Section 3 --- */
#section3 {
  .sentence span {
    display: inline-block;
    letter-spacing: -0.06em;
  }

  .sentence:not(:first-child) {
    position: absolute;
    left: 0;
    top: 0;
  }
}

/* --- Section 4 --- */
#section4 {
}

/* --- Section 5 --- */
#section5 {
}

/* --- Section 6 --- */
#section6 {
}

/* --- Section 7 --- */
#section7 {
}

/* --- Section 8 --- */
#section8 {
}

/*-----------------------------------------------------
置底小圖示navbar設定
-----------------------------------------------------*/

// back to top 按鈕
// .jquery-back-to-top {
//   background-color: #84bc26 !important;

//   @include media-down($bp-sm) {
//     display: none !important;
//   }
// }

/*-------------------------------------------
  7. Animation
  動畫設計 
-------------------------------------------*/
@keyframes scroll-line {
  0% {
    top: -100%;
  }
  50% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes arrow-drop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(8px);
    opacity: 0;
  }
  91% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
