@charset "UTF-8";
/*-------------------------------------------
  0. SCSS Setup
  SCSS 設定 (變數、Mixins 等)
-------------------------------------------*/
.text-yellow, .text-gold {
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --padding-x: 96px;
}

@media (max-width: 1800px) {
  :root {
    --padding-x: 80px;
  }
}
@media (max-width: 1400px) {
  :root {
    --padding-x: 40px;
  }
}
@media (max-width: 576px) {
  :root {
    --padding-x: 20px;
  }
}
/*-------------------------------------------
  1. Global Resets & Base
  全域重設與基礎樣式
-------------------------------------------*/
/*-------------------------------------------
  2. Layout & Helpers
  共用佈局與輔助工具
-------------------------------------------*/
/*-------------------------------------------
  3. Typography
  文字排版
-------------------------------------------*/
.text-en {
  font-family: "Inter", sans-serif !important;
}
.text-en--sm {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.6px;
}
@media (max-width: 576px) {
  .text-en--sm {
    font-size: 12px;
  }
}
.text-en--sm-md {
  font-family: "Tinos", serif;
  font-size: 24px;
}
@media (max-width: 991px) {
  .text-en--sm-md {
    font-size: 15px;
  }
}
.text-en--md {
  font-family: "Tinos", serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-align: center;
}
@media (max-width: 1400px) {
  .text-en--md {
    font-size: 2vmin;
  }
}
@media (max-width: 991px) {
  .text-en--md {
    font-size: 4vmin;
  }
}
@media (max-width: 576px) {
  .text-en--md {
    font-size: 20px;
    letter-spacing: 0.1vmin;
  }
}
.text-en--md-lg {
  font-family: "Tinos", serif;
  font-size: 40px;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text-en--md-lg {
    font-size: 4vmin;
  }
}
@media (max-width: 576px) {
  .text-en--md-lg {
    font-size: 5vmin;
    letter-spacing: 0.7vmin;
  }
}
.text-en--lg {
  font-family: "Tinos", serif;
  font-size: 48px;
  font-weight: 400;
  text-wrap: nowrap;
  letter-spacing: 2.4px;
}
@media (max-width: 1400px) {
  .text-en--lg {
    font-size: 3vmin;
  }
}
@media (max-width: 991px) {
  .text-en--lg {
    font-size: 28px;
    letter-spacing: 0.4vmin;
  }
}
.text-en--max {
  font-family: "Tinos", serif;
  font-size: 56px;
  font-weight: 400;
  text-wrap: nowrap;
  letter-spacing: 1px;
}
@media (max-width: 1800px) {
  .text-en--max {
    font-size: 7.5vmin;
  }
}
@media (max-width: 1400px) {
  .text-en--max {
    font-size: 6vmin;
  }
}
@media (max-width: 1200px) {
  .text-en--max {
    font-size: 6vmin;
  }
}
@media (max-width: 991px) {
  .text-en--max {
    font-size: 5vmin;
    letter-spacing: 1.4px;
  }
}
@media (max-width: 576px) {
  .text-en--max {
    font-size: 6.8vmin;
    letter-spacing: 0px;
  }
}
.text-en--tel {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 80%;
  letter-spacing: 1.6px;
}
@media (max-width: 991px) {
  .text-en--tel {
    font-size: 4vmin;
  }
}
@media (max-width: 576px) {
  .text-en--tel {
    font-size: 24px;
    letter-spacing: 1.2px;
  }
}

.text-chin--sm {
  font-size: 14px;
  font-family: "Noto Serif TC", serif;
  font-weight: 600;
}
.text-chin--sm-md {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 2px;
}
@media (max-width: 576px) {
  .text-chin--sm-md {
    font-size: 12px;
    letter-spacing: 1px;
  }
}
.text-chin--md {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 170%;
  letter-spacing: 1px;
}
@media (max-width: 1400px) {
  .text-chin--md {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .text-chin--md {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 200%;
  }
}
.text-chin--md-lg {
  font-size: 28px;
  font-weight: 350;
  letter-spacing: 1.2px;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 160%;
  text-wrap: nowrap;
}
@media (max-width: 1400px) {
  .text-chin--md-lg {
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  .text-chin--md-lg {
    font-size: 2.2vmin;
    letter-spacing: 1px;
  }
}
@media (max-width: 576px) {
  .text-chin--md-lg {
    font-size: 18px;
    letter-spacing: 0.8px;
  }
}
.text-chin--lg {
  font-size: 110px;
  font-weight: 700;
  letter-spacing: 7.8px;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 100%;
}
@media (max-width: 1800px) {
  .text-chin--lg {
    font-size: 9.8vmin;
  }
}
@media (max-width: 1400px) {
  .text-chin--lg {
    font-size: 7vmin;
  }
}
@media (max-width: 576px) {
  .text-chin--lg {
    font-size: 44px;
  }
}
.text-chin--title {
  font-family: "Noto Serif TC", serif;
  font-size: 100px;
  font-weight: 600;
  letter-spacing: 24px;
  line-height: 140%;
}
@media (max-width: 1800px) {
  .text-chin--title {
    font-size: 7vmin;
  }
}
@media (max-width: 1400px) {
  .text-chin--title {
    font-size: 6vmin;
    letter-spacing: 1.8vmin;
  }
}
@media (max-width: 991px) {
  .text-chin--title {
    font-size: 7vmin;
  }
}
@media (max-width: 576px) {
  .text-chin--title {
    font-size: 40px;
    letter-spacing: 9.6px;
  }
}

.text-description {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0px;
}
@media (max-width: 1200px) {
  .text-description {
    font-size: 10px;
  }
}
.text-description--lg {
  font-family: "Noto Serif TC", serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 163%;
  letter-spacing: 6px;
}

.description-box {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 80%);
  width: 100%;
  height: 50%;
  right: 0;
  bottom: 0;
  position: absolute !important;
  padding: 1vh;
  pointer-events: none;
}
@media (max-width: 576px) {
  .description-box {
    padding: 2vw;
  }
}

.text-form--lg {
  font-family: "Noto Serif TC", serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: 1.4px;
}
@media (max-width: 1200px) {
  .text-form--lg {
    font-size: 36px;
    letter-spacing: 4px;
  }
}
@media (max-width: 991px) {
  .text-form--lg {
    line-height: 150%;
  }
}
@media (max-width: 576px) {
  .text-form--lg {
    font-size: 16px;
    letter-spacing: 0.7vmin;
  }
}
.text-form--md {
  font-family: "Noto Serif TC", serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 2.4px;
}
@media (max-width: 576px) {
  .text-form--md {
    font-size: 4vmin;
  }
}
.text-form--sm {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.6px;
}
@media (max-width: 576px) {
  .text-form--sm {
    font-size: 10px;
    line-height: 150%;
  }
}

.text-gold {
  background: linear-gradient(270deg, #fbe9b9 -22.33%, #c4b08b -0.15%, #98835f 32.01%, #fbe9b9 61.95%, #98835f 88.57%);
}

.text-yellow {
  background: linear-gradient(312deg, #fbe9b9 -540.04%, #c4b08b -310.43%, #98835f 22.52%, #fbe9b9 332.5%, #98835f 608.04%);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: end;
}

/*-------------------------------------------
  4. Components
  元件
-------------------------------------------*/
/* --- Form --- */
#section-form {
  background: right bottom/cover no-repeat url(../src/sec-form/form-bk.jpg);
  padding-top: 21vh;
  padding-bottom: 154px;
  padding-left: 25vw;
  padding-right: 25vw;
  gap: 200px;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  width: 100.1vw;
}
@media (max-width: 1400px) {
  #section-form {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
@media (max-width: 1200px) {
  #section-form {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media (max-width: 991px) {
  #section-form {
    padding-left: 8vw;
    padding-right: 8vw;
    background-position-x: 75%;
  }
}
@media (max-width: 576px) {
  #section-form {
    gap: 120px;
    padding-top: 150px;
    padding-bottom: 13vh;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#section-form .form-box {
  gap: 48px;
}
@media (max-width: 1200px) {
  #section-form .form-box {
    gap: 8vh;
  }
}
@media (max-width: 991px) {
  #section-form .form-box {
    gap: 60px;
    z-index: 999;
  }
}
#section-form .form-box .title-group {
  gap: 40px;
}
#section-form .form-box .title-group img {
  width: 25vw;
}
@media (max-width: 991px) {
  #section-form .form-box .title-group img {
    width: 42vw;
  }
}
@media (max-width: 576px) {
  #section-form .form-box .title-group img {
    width: 48vw;
  }
}
#section-form .form-box .title-group h3 {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  letter-spacing: 3.8px;
}
@media (max-width: 576px) {
  #section-form .form-box .title-group h3 {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
#section-form .form-box .input-block {
  gap: 32px;
}
@media (max-width: 1200px) {
  #section-form .form-box .input-block {
    gap: 0;
  }
}
#section-form .form-box .input-block .form-msg {
  transition: all 0.5s ease-in-out;
  height: 100%;
  width: 100%;
}
@media (max-width: 1200px) {
  #section-form .form-box .input-block .form-msg {
    height: 25vh;
  }
}
#section-form .form-box .input-block .form-msg textarea {
  height: 100%;
}
#section-form .form-box .info-sub {
  width: 100%;
}
@media (max-width: 991px) {
  #section-form .form-box .info-sub {
    gap: 60px;
  }
}
@media (max-width: 576px) {
  #section-form .form-box .info-sub {
    gap: 20px;
  }
}
#section-form .form-box .info-sub h3 {
  font-size: 16px;
}
@media (max-width: 991px) {
  #section-form .form-box .info-sub h3 {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
#section-form .form-box .info-sub p {
  font-family: "Noto Serif TC", serif;
}
#section-form .form-box .info-sub p a {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  line-height: 130%;
}
#section-form .form-box .info-sub p span {
  font-size: 32px;
}
@media (max-width: 991px) {
  #section-form .form-box .info-sub p span {
    font-size: 4vmin;
  }
}
#section-form .form-box .info-sub button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 16px;
  border: 0;
  background-color: #fff;
  border-radius: 1000px;
  letter-spacing: 0.8px;
  height: -moz-fit-content;
  height: fit-content;
}
#section-form .form-box .icon-group img:hover {
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}
#section-form .form-box .copy-right {
  margin-top: 80px;
}
@media (max-width: 991px) {
  #section-form .text-chin--lg {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  #section-form .text-chin--md {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 180%;
  }
}
#section-form a,
#section-form a:link,
#section-form a:hover,
#section-form a:active,
#section-form a:visited {
  color: #fff;
}
#section-form input[type=text],
#section-form input[type=tel],
#section-form input[type=email],
#section-form select,
#section-form textarea {
  padding: 6px 12px !important;
  font-size: 18px !important;
}
@media (max-width: 576px) {
  #section-form input[type=text],
  #section-form input[type=tel],
  #section-form input[type=email],
  #section-form select,
  #section-form textarea {
    font-size: 16px !important;
  }
}
#section-form input[type=text]::-moz-placeholder, #section-form input[type=tel]::-moz-placeholder, #section-form input[type=email]::-moz-placeholder, #section-form select::-moz-placeholder, #section-form textarea::-moz-placeholder {
  color: rgba(20, 20, 20, 0.8) !important;
  font-size: 18px !important;
}
#section-form input[type=text]::placeholder,
#section-form input[type=tel]::placeholder,
#section-form input[type=email]::placeholder,
#section-form select::placeholder,
#section-form textarea::placeholder {
  color: rgba(20, 20, 20, 0.8) !important;
  font-size: 18px !important;
}
@media (max-width: 576px) {
  #section-form input[type=text]::-moz-placeholder, #section-form input[type=tel]::-moz-placeholder, #section-form input[type=email]::-moz-placeholder, #section-form select::-moz-placeholder, #section-form textarea::-moz-placeholder {
    font-size: 16px !important;
  }
  #section-form input[type=text]::placeholder,
  #section-form input[type=tel]::placeholder,
  #section-form input[type=email]::placeholder,
  #section-form select::placeholder,
  #section-form textarea::placeholder {
    font-size: 16px !important;
  }
}
#section-form textarea:focus::-moz-placeholder {
  opacity: 0;
}
#section-form textarea:focus::placeholder {
  opacity: 0;
}
#section-form .form-select,
#section-form .form-control {
  color: rgba(20, 20, 20, 0.8) !important;
  border-radius: 0 !important;
}
#section-form .form-select:focus,
#section-form .form-control:focus {
  color: #06182e;
  border: 1px solid #06182e !important;
  box-shadow: unset !important;
}
#section-form .form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}
#section-form {
  /* --- Submit Button --- */
}
#section-form #submit {
  width: 100%;
  padding: 20px 8vw;
  justify-content: center;
  align-items: center;
  background-color: #585858;
  color: #fff;
  border-radius: 0;
  border: 1px solid #000;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
@media (max-width: 991px) {
  #section-form #submit {
    width: 100%;
  }
}
#section-form #submit:hover {
  background-color: #84bc26 !important;
  border: 1px solid #84bc26;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#section-form {
  /* --- Form page button --- */
}
#section-form .btn-form {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 40px;
  background-color: #fff;
  border-radius: 1000px;
  color: #0b3359;
  font-size: 24px;
  font-weight: 700;
  font-family: "Noto Serif TC", serif;
  border: 0px;
  letter-spacing: 2.5px;
}
@media (max-width: 576px) {
  #section-form .btn-form {
    font-size: 16px;
  }
}
#section-form {
  /* --- Custom Checkbox --- */
}
#section-form .formCheck {
  width: 100%;
}
@media (max-width: 1400px) {
  #section-form .formCheck {
    width: 100%;
  }
}
#section-form .custom-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
}
#section-form .custom-checkbox input[type=checkbox] {
  display: none;
}
#section-form .custom-checkbox input[type=checkbox]:checked + .circle::after {
  content: "";
  position: absolute;
  left: 25%;
  top: 50%;
  width: 7px;
  height: 12px;
  border: 1px solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) translate(-50%, -50%);
  border-radius: 1px;
}
#section-form .custom-checkbox .circle {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: transparent;
  position: relative;
  transition: border-color 0.2s;
  margin-right: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

/*-------------------------------------------
  5. Plugin Overrides
  外部套件覆寫
-------------------------------------------*/
/* Swiper Carousels */
.swiper {
  --swiper-theme-color: white;
  /* 例如橘色 */
  --swiper-pagination-color: white;
  /* pagination 圓點顏色 */
}

/*-------------------------------------------
  6. Page Sections
  各區塊獨立設定
-------------------------------------------*/
/* --- Section 1 --- */
/* --- Section 2 --- */
#section2 .sentence span {
  display: inline-block;
  letter-spacing: -0.06em;
}
#section2 .sentence:not(:first-child) {
  position: absolute;
  left: 0;
  top: 0;
}

/* --- Section 3 --- */
/* --- Section 4 --- */
/* --- Section 5 --- */
/* --- Section 6 --- */
/* --- Section 7 --- */
/* --- Section 8 --- */
/*-----------------------------------------------------
置底小圖示navbar設定
-----------------------------------------------------*/
.nav-bar {
  position: fixed;
  z-index: 1000;
  bottom: -100px;
  /*一開始先隱藏header*/
  width: 100.1vw;
  padding: 30px 40px 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 95%);
  transition: bottom 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .nav-bar {
    padding: 36px 20px 10px 20px;
  }
}
.nav-bar .logo-wrapper .logo-img {
  height: 36px;
}
@media (max-width: 991px) {
  .nav-bar .logo-wrapper .logo-img {
    height: 27px;
  }
}
.nav-bar .nav-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .nav-bar .nav-links {
    gap: 10px;
  }
}
.nav-bar .nav-links .nav-item {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .nav-bar .nav-links .nav-item {
    width: 40px;
  }
}
.nav-bar .nav-links .nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-bar .nav-links .nav-item a .fa {
  font-size: 30px;
}
@media (max-width: 991px) {
  .nav-bar .nav-links .nav-item a .fa {
    font-size: 24px;
  }
}
.nav-bar .nav-links .nav-item a .nav-icon {
  width: 40px;
  padding: 1rem 0;
}
@media (max-width: 991px) {
  .nav-bar .nav-links .nav-item a .nav-icon {
    width: 24px;
  }
}

.jquery-back-to-top {
  background-color: #84bc26 !important;
}
@media (max-width: 991px) {
  .jquery-back-to-top {
    display: none !important;
  }
}

/*-------------------------------------------
  7. Animation
  動畫設計 
-------------------------------------------*//*# sourceMappingURL=style.css.map */